.card{
    width: 350px;
   border-radius: 4px;
   box-shadow: 2px 4px 8px rgba(red, green, blue, alpha);
   overflow: hidden;
   margin: 10px;
}
.card-header{
    background-color: #333;
    padding: 16px;
    text-align: center;
}
.card-header .text-header{
    margin: 0;
    font-size: 10px;
    color: rgb(red, green, blue);
}
.card-body{
   padding: 16px;
}
.form-group{
    margin-bottom: 10px;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
}
.form-group input[type = 'text']
.form-group input[type = 'email']
.form-group input[type ='password']{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #333;
    border-radius: 4px;

}
.btn:hover{
    background-color:brown;
    color:crimson;
}
/* button hover vaneko button lai chalauda or click garni bela aune color ho hai