<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'style.css' %}"
</head>
<body>
    <h1> Registration form</h1>
    <form method="" action="">

        <br>
        <label>User name:</label>
        <input type="text" name="name">
    </br>
    <br>
        <label> User email:</label>
        <input type = "email" name="email">
</br>
<br>
        <label>User password:</label>
        <input type="password" name="password">
</br>
<input type ="submit" value="Registration">
  </form>
  <!--<img src="{% static 'niku.jpg' %}" alt="nishan" height="450px" width="300px"> -->
<button onclick="clickedmeonce()">Click me</button>
<script src="{% static 'js/function.js' %}"></script>
 
</body>
</html>
